
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-xs-8">
        <h1>Doctors</h1>
    </div>
    <div class="col-xs-4">
        <div style="position: absolute; right: 15px; top: 15px;">
            <a asp-action="Add" class="btn btn-primary">New</a>
        </div>
    </div>
</div>
<br />
<div id="doctorList">
</div>


<div id="divList" class=""></div>
@section scripts {
    <script>
        $(function () {
            BindGrid();
        });

        function BindGrid() {
            $('#divList').html('<h5 class="margin-0"><p><i class="fa fa-spinner fa-spin fa-fw"></i> Please wait while data is loading...</p></h5>');
            $.ajax({
                url: '/Doctors/_List',
                success: function (data) {
                    $('#divList').html(data);
                }
            })
        };


    </script>
}
