@{


}

<nav>
    <ul>
        <li class="">
            <a href="#"><i class="fa fa-lg fa-fw fa-dashboard"></i> <span class="menu-item-parent">DASHBOARD </span></a>
        </li>
        <li class="">
            <a href="javascript:void(0)"><i class="fa fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">SETTINGS</span></a>
            <ul>
                <li class="">
                    <a href="/LookUp/Index"><span class="menu-item-parent">LOOKUPS</span></a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="javascript:void(0)"><i class="fa fa-lg fa-fw  fa-shield"></i> <span class="menu-item-parent">Security</span></a>
            <ul>
                <li class="">
                    <a href="/Employee/index"><span class="menu-item-parent">Employee</span></a>

                </li>
                <li class="">
                    <a href="/User/index"><span class="menu-item-parent">User</span></a>

                </li>
                <li class="">
                    <a href="/Role/index"><span class="menu-item-parent">Role</span></a>

                </li>

            </ul>
        </li>
    </ul>
</nav>
